.main-container{

    display: flex;
    
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    padding: 0px 10vw;
    padding-bottom: 150px;

    background-color: #efe;
}

.info-container{
    flex: 1;

}

#info-container__first-label{
    display: flex;
}

#info-container__first-label-text{
    font-size: 15px;
    margin: 0px 0.8vw;
    font-weight: 400;
}

.star-icon{
    margin: 0px 0.2vw;
}

#info-container__heading{
    margin: 2vh 0px;
    font-size: 4vw;

}

#info-container__parragraph{
    color: #555;
    font-size: 16px;
}

.button{
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 600;
    padding: 0px 1.5vw;
}

.button:hover{
    cursor: pointer;
}

#free-trial-button{
    color: #fff;
    background-color: #32c;
    height: 55px;
    /* width: 10vw; */
    border-radius: 5px;
    
    
}
#free-trial-button:hover{
    color: #aaa;
    /* background-color: #64d; */
}

#examples-button{
    
    color: #32c;
    text-decoration: underline;
    margin-left: 1vw;
}

#examples-button:hover{
    color: #11a;
}

#info-container__last-label{
    display: flex;
    align-items: center;
}

.checkmark-icon{
    height: 20px;
    margin-right: .5vw;
}

.info-container__last-label-text{
    margin-right: 1vw;
    color: #555;
}






/* image container --------------------------- */
.image-container{

    flex: 1;
    position: relative;
}

#image-hero-illustration{
    width: 100%;

}